{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Usuários Cadastrados:</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>Ações</th> <!-- Adicionando uma coluna para ações -->
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.idade }}</td>
            <td>
                <a href="{% url 'editar_usuario' usuario.id_usuario %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'excluir_usuario' usuario.id_usuario %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
